target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp

*.class
*.log
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

.env
.env.*
*.DS_Store
.DS_Store
